<canyalib-payment-summary-template
  [paymentSummary]="paymentSummary"
  [amount]="amount"
  [showBalance]="false"
></canyalib-payment-summary-template>

<div class="text-right m-30 float-right float-right">
  <img
    *ngIf="isLoading"
    src="assets/img/loader.svg"
    height="36px"
    alt="Loader"
  />
  <button class="btn btn-primary" [disabled]="isLoading" (click)="next()">
    NEXT
  </button>
</div>
