<nav class="topbar topbar-expand-md topbar-sticky" id="section-top">
  <div class="container">
    <div class="topbar-left">
      <a class="topbar-brand" [routerLink]="['/home']">
        <img
          class="logo-default"
          src="assets/img/logo.svg"
          width="auto"
          height="36px"
          alt="logo"
        />
      </a>
      <div
        *ngIf="!hideSearchBar"
        class="search-container mx-40 hidden-sm-down animated"
      >
        <form
          class="form-inline justify-content-center justify-content-lg-end"
          method="post"
          (ngSubmit)="onSubmit(inputSearch.value)"
        >
          <div class="input-group">
            <input
              #inputSearch
              (focus)="onFocus(inputSearch.value)"
              (blur)="onBlur(inputSearch.value)"
              type="text"
              size="20"
              class="search-input"
              placeholder="Find services..."
            />
            <span class="input-group-btn">
              <button
                class="btn btn-default btn-search"
                type="submit"
                border-none
              >
                <img
                  src="assets/img/search-icon.svg"
                  class="search-icon"
                  border-5
                />
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <div class="topbar-right">
      <ul class="topbar-nav nav lh-2">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/jobs']"
            data-scrollto="section-home"
            >Jobs</a
          >
        </li>
        <li class="nav-item mobile-only">
          <a class="nav-link" [routerLink]="['/faq']">
            FAQ
          </a>
        </li>
        <li *ngIf="currentUser" class="nav-item">
          <a class="nav-link" [routerLink]="['/inbox/chat']">
            Inbox
          </a>
          <span
            *ngIf="hasUnreadMessages"
            class="badge badge-round badge-danger"
          ></span>
        </li>
        <li *ngIf="currentUser" class="nav-item">
          <a class="nav-link" [routerLink]="['/inbox/post']">
            <button border-64 class="btn btn-sm btn-primary my-10">
              POST A JOB
            </button>
          </a>
        </li>
        <li *ngIf="currentUser" class="nav-item">
          <a
            *ngIf="!bnbAddress; else showAddress"
            class="nav-link"
            [routerLink]="['/wallet-bnb']"
          >
            <button border-64 class="btn btn-sm btn-primary my-10">
              CONNECT WALLET
            </button>
          </a>
          <ng-template #showAddress>
            <a class="nav-link" [routerLink]="['/wallet-bnb/assets']">
              <button border-64 class="btn btn-sm btn-primary my-10">
                {{ bnbAddress.slice(0, 6) }}...{{ bnbAddress.slice(-3) }}
              </button>
            </a>
          </ng-template>
        </li>
        <li *ngIf="!currentUser" class="nav-item">
          <a class="nav-link">
            <a
              class="btn btn-canya-tools canya-login btn-sm text-white"
              [routerLink]="['/auth']"
            >
              Join&nbsp;/&nbsp;Sign&nbsp;in
            </a>
          </a>
        </li>
        <li *ngIf="currentUser" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle for-avatar"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <app-avatar
              [user]="currentUser"
              [customClass]="'avatar'"
            ></app-avatar>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="dropdownMenuLink"
          >
            <a
              class=" nav-link dropdown-item"
              style="font-weight: 400 !important; text-transform: none"
              href="#"
              [routerLink]="['/profile']"
              >Profile</a
            >
            <a
              class=" nav-link dropdown-item"
              style="font-weight: 400 !important; text-transform: none"
              href="#"
              [routerLink]="['/profile']"
              [queryParams]="{ editProfile: 1 }"
              >Edit Profile</a
            >
            <div class="dropdown-divider"></div>
            <a
              class=" nav-link dropdown-item"
              style="font-weight: 400 !important; text-transform: none"
              href="#"
              [routerLink]="['/inbox/jobs']"
              >Manage Jobs</a
            >
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item text-danger"
              href="#"
              data-toggle="modal"
              data-target="#areYouSureLogoutModal"
              >Logout</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <app-status-light></app-status-light>
        </li>
      </ul>
    </div>
    <button _ngcontent-c1="" class="topbar-toggler">☰</button>
  </div>
</nav>

<header class="header fadeout pt-90 pb-0 shadow-1" id="section-home">
  <div
    *ngIf="allowFilters && showFilters"
    class="container w-full bt-1 hidden-lg-down"
    style="margin-top: -10px;"
    [@slideInOut]
  >
    <div class="container">
      <div class="row py-10 text-center">
        <app-search-filter-option
          class="col-md-2"
          *ngFor="let category of providerCategories"
          [text]="category"
          [link]="category"
        ></app-search-filter-option>
      </div>
    </div>
  </div>
</header>

<!-- Logout - Are you sure? -->
<div
  class="modal fade"
  id="areYouSureLogoutModal"
  tabindex="-1"
  role="dialog"
  data-keyboard="true"
  data-backdrop="true"
  aria-labelledby="areYouSureLogoutLabel"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign out</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to sign out of your account?</p>
      </div>
      <div class="modal-footer">
        <button
          (click)="onLogout()"
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
        >
          Yes
        </button>
        <button
          (click)="onCancel()"
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>
