<div [ngSwitch]="web3State">
  <div *ngSwitchCase="web3LoadingStatus.loading">
    <div class="container d-flex h-100 flex-column justify-content-center">
      <img src="assets/img/loader.svg" height="36px" alt="Loader" />
    </div>
  </div>
  <div *ngSwitchCase="web3LoadingStatus.noMetaMask || web3LoadingStatus.error">
    <div class="container">
      <header class="section-header my-0 py-0">
        <h2 class="fw-300">
          Install MetaMask or use
          <b>Trust Wallet on mobile</b>
        </h2>
        <img
          *ngIf="walletType !== walletTypes.trust"
          src="assets/img/metamask.svg"
          width="140px"
          height="140px"
        />
        <img
          *ngIf="walletType == walletTypes.trust"
          src="assets/img/trust-logo.svg"
          width="140px"
          height="140px"
        />
        <h4 class="fw-300 mb-10">Why is it needed!?</h4>

        <div class="alert alert-info" role="alert">
          With MetaMask you can interact with the Ethereum network. Moreover,
          the benefit of MetaMask is that
          <strong>YOU are storing your private keys</strong> instead of letting
          us to hold to your keys.
        </div>
        <hr />
      </header>

      <app-instructions></app-instructions>
    </div>

    <div class="section-dialog bg-gray">
      <app-faq></app-faq>
    </div>
  </div>
  <div *ngSwitchCase="web3LoadingStatus.noAccountsAvailable">
    <div class="container">
      <header class="section-header my-0 py-0">
        <h2 class="fw-300">Your {{ walletType }} is locked!</h2>
        <img
          *ngIf="walletType == walletTypes.metaMask"
          src="assets/img/metamask.svg"
          width="140px"
          height="140px"
        />
        <img
          *ngIf="walletType == walletTypes.trust"
          src="assets/img/trust-logo.svg"
          width="140px"
          height="140px"
        />
        <h4 class="fw-300 mb-10">
          Open {{ walletType }} and follow the instructions to unlock it, reload
          the page and try again.
        </h4>
      </header>
    </div>
  </div>
  <div *ngSwitchCase="web3LoadingStatus.wrongNetwork">
    <div class="container">
      <header class="section-header my-0 py-0">
        <h2 class="fw-300">Switch your {{ walletType }} to MainNet!</h2>
        <img
          *ngIf="walletType == walletTypes.metaMask"
          src="assets/img/metamask.svg"
          width="140px"
          height="140px"
        />
        <img
          *ngIf="walletType == walletTypes.trust"
          src="assets/img/trust-logo.svg"
          width="140px"
          height="140px"
        />
        <h4 class="fw-300 mb-30">
          Open your wallet, switch your wallet to
          <span class="fw-500">Main Ethereum Network</span> and reload the page.
        </h4>
      </header>
    </div>
  </div>
</div>
