<div class="container coming-soon">
  <div class="row">
    <div class="col-12 text-center">
      <img src="assets/img/work.svg" />
      <br />
      <br />
      <h1>Coming Soon!</h1>
      <br />
      <button [routerLink]="['/home']" class="btn btn-primary">
        Return to Homepage
      </button>
    </div>
  </div>
</div>
