#auth-with-dock-component {
  background-color: whitesmoke;
  position: absolute;
  text-align: center;
  min-height: 100vh;
  z-index: 1000;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  header {
    border-bottom: 1px solid whitesmoke;
    padding: 21px 0;
    h1 {
      text-transform: uppercase;
      font-size: 24px;
      margin: 0;
    }
  }

  .bg-white {
    padding-bottom: 35px;
  }

  h4 {
    font-weight: 400;
  }

  .img-wrapper {
    margin: 35px 0;
    .dock-logo {
      width: 210px;
      height: auto;
    }
  }

  .checkpoints {
    list-style: none;
    text-align: left;
    font-size: 28px;
    margin: 28px 0;
    li {
      span {
        display: inline-block;
        min-width: 280px;
      }
      i {
        margin-right: 12px;
        &.fa-circle-o-notch {
          color: #30d7a9;
        }
      }
      &.complete {
        i {
          color: #30d7a9;
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  header {
    h1 {
      font-size: 21px;
    }
  }
  .checkpoints {
    li {
      span {
        min-width: 240px;
      }
    }
  }
}
