<section id="dropzone">
  <section class="toggler-div" (click)="close.emit(true)"></section>
  <div class="container dropzone-container">
    <div class="col-12 text-right">
      <button class="btn btn-light" (click)="close.emit(true)">X</button>
    </div>
    <div class="wrapper">
      <dropzone
        [config]="dropzoneConfig"
        [message]="dropzoneMessage"
        (error)="onUploadError($event)"
        (success)="onUploadSuccess($event)"
        (addedFile)="onFileAdded($event)"
      >
      </dropzone>

      <p class="error-message mb-0 p-3 text-danger" *ngIf="hasError">
        {{ errorMessage }}
      </p>

      <div class="file d-flex align-items-center" *ngIf="file.isUploading">
        <p class="mb-0 p-3">
          <strong>{{ file.name }}</strong> - <span>{{ file.pctg }}</span>
        </p>
      </div>
    </div>
  </div>
</section>
