<div class="text-center mt-30" *ngIf="isLoading">
  <img src="assets/img/loader.svg" height="36px" alt="Loader" />
  <!-- <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> -->
  {{ label }} ...
</div>
