<div class="card px-30 pt-20 pb-30 row mh-250">
  <canyalib-loader [isLoading]="isLoading"></canyalib-loader>
  <div *ngIf="!isLoading" class="container">
    <div class="row">
      <div class="col col-lg-5 col-sm-12 text-center">
        <img
          src="assets/img/metamask-send.png"
          width="70%"
          title="Metamask help"
        />
      </div>
      <div class="col col-lg-7 col-sm-12">
        <div class="container">
          <header class="text-center">
            <h6 class="fw-600">
              Confirmation 1 of {{ hasPostAuthProcess ? 2 : 1 }}
            </h6>
            <img src="assets/img/metamask.svg" width="60px" height="60px" />
            <p class="fw-300 my-20">
              Hit <b>confirm</b> on the pop up to give our smart contract
              permission to withdraw {{ amount }} CAN from your account.
            </p>
            <hr />
            <div class="text-right lh-1">
              <span class="fs-12">Smart contract address</span>
              <br />
              <canyalib-etherscan-link
                [address]="recipient"
              ></canyalib-etherscan-link>
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-right m-30 float-right" *ngIf="!isLoading">
  <img
    *ngIf="sendingTx"
    src="assets/img/loader.svg"
    height="36px"
    alt="Loader"
  />
  <button class="btn btn-primary" (click)="authorise()" [disabled]="sendingTx">
    {{ sendingTx ? 'Authorising Payment' : 'Authorise Payment' }}
  </button>
  <br />

  <span *ngIf="sendingTx" class="fs-12 fw-400 mt-10" style="color: #ff6666">
    You are now interacting with the Ethereum blockchain - this may take some
    time.
  </span>
</div>
