<div class="modal-dialog">
  <div class="modal-content text-center" *ngIf="action && job">
    <div class="modal-header">
      <button type="button" class="btn modal-close" (click)="close()">X</button>
      <div class="col-12">
        <h4 class="modal-title">{{ actionType }}</h4>
      </div>
    </div>
    <div class="modal-body">
      <p>{{ action.dialogMessage }}</p>
      <div *ngIf="form && actionType == actionTypes.counterOffer" class="mx-40">
        <form [formGroup]="form" class="form-group">
          <div>
            <label class="text-dark">
              <span *ngIf="job.paymentType == paymentTypes.hourly"
                >Amount per hour (USD) *</span
              >
              <span *ngIf="job.paymentType == paymentTypes.fixed"
                >Total amount (USD) *</span
              >
            </label>
            <div class="row">
              <div class="col-12">
                <input
                  type="number"
                  formControlName="budget"
                  class="form-control"
                  min="0"
                  step="5"
                  placeholder="1 USD minimum"
                />
                <small
                  *ngIf="
                    !form.controls.budget.valid && form.controls.budget.dirty
                  "
                  class="text-primary"
                  >Must be 1 USD or more.</small
                >
              </div>
            </div>
            <div class="row">
              <div
                *ngIf="form.controls.budget.dirty && canToUsd"
                class="col-12 mt-5 text-right"
              >
                <small>~ {{ usdToCan(form.controls.budget.value) }} CAN</small>
              </div>
              <div class="col-12">
                <small class="text-primary text-wrap">
                  <b>Important</b>: All Transactions on CanWork are made in CAN
                  tokens</small
                >
              </div>
            </div>
          </div>
          <br />
          <div *ngIf="userType == 'Provider'" class="form-group">
            <app-terms [form]="form"></app-terms>
          </div>
        </form>
      </div>
      <div
        *ngIf="
          (form && actionType == actionTypes.addMessage) ||
          actionType == actionTypes.dispute
        "
        class="mx-40"
      >
        <form [formGroup]="form" class="form-group">
          <div class="form-group">
            <label>Add a message</label>
            <textarea
              class="form-control"
              formControlName="message"
              name="message"
              placeholder="enter your message here"
            ></textarea>
          </div>
        </form>
      </div>
      <div *ngIf="form && actionType == actionTypes.review" class="mx-40">
        <form [formGroup]="form" class="form-group">
          <fieldset class="form-group">
            <label>How would you rate {{ otherParty }}?</label><br />
            <star-rating
              [starType]="'svg'"
              [showHalfStars]="true"
              [staticColor]="ok"
              [hoverEnabled]="true"
              (ratingChange)="onRatingChange($event)"
            ></star-rating>
          </fieldset>
          <fieldset class="form-group">
            <label>Add a public review (optional)</label>
            <textarea
              class="form-control"
              formControlName="message"
              name="message"
              placeholder="enter your review here"
            ></textarea>
          </fieldset>
        </form>
      </div>
      <div *ngIf="form && actionType == actionTypes.acceptTerms">
        <form [formGroup]="form">
          <app-terms [form]="form"></app-terms>
        </form>
      </div>

      <div
        *ngIf="
          (form && actionType == actionTypes.cancelJobEarly) ||
          actionType == actionTypes.dispute
        "
        class="mx-40"
      >
        <form [formGroup]="form" class="form-group">
          <div class="form-group">
            <h3>Are You Sure?</h3>
            <label>You are about to cancel this job!</label>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-12">
        <img
          *ngIf="executing"
          src="assets/img/loader.svg"
          height="36px"
          alt="Loader"
        />
        <button
          [disabled]="submitDisabled || executing"
          type="button"
          class="btn mr-10 btn-{{ getColour(action.type) }}"
          (click)="handleAction()"
        >
          {{ actionType }}
        </button>
        <button type="button" class="btn btn-default" (click)="close()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
