<main class="main-content" [appWindowScroll]>
  <section class="section bg-gray">
    <div class="container">
      <div class="row search-container">
        <div class="col-12">
          <ais-instantsearch [config]="algoliaSearchConfig" *ngIf="!rendering">
            <div class="row" id="shouldBeShown" *ngIf="minValue > 0">
              <ais-range-input
                hidden
                attribute="hourlyRate"
                [min]="minValue"
                [max]="maxValue"
                [precision]="0"
                style="margin: 0 auto"
              >
              </ais-range-input>
            </div>
            <ais-refinement-list
              hidden
              attribute="category"
              operator="or"
            ></ais-refinement-list>
            <ais-search-box
              #search
              class="search-box"
              (change)="algoliaSearchChanged($event)"
            ></ais-search-box>
            <div
              class="row mt-25 mb-15"
              style="z-index: 150; position: relative;"
            >
              <div class="col-9">
                <div class="row">
                  <button
                    id="category-btn"
                    (click)="toggleOverlay('category-menu', 'hours-menu')"
                    [ngClass]="{
                      active:
                        this.categoryFilters.length > 1 ||
                        this.categoryFilters[0] !== undefined
                    }"
                    class="btn btn-primary filter-btn btn-outline"
                  >
                    CATEGORY
                  </button>
                  <button
                    id="hourly-btn"
                    (click)="toggleOverlay('hours-menu', 'category-menu')"
                    class="btn btn-primary filter-btn btn-outline"
                    [ngClass]="{ active: minValue > 1 || maxValue < 300 }"
                    class="btn btn-primary filter-btn btn-outline"
                  >
                    <span *ngIf="minValue === 0 && maxValue === 300"
                      >HOURLY RATE</span
                    >
                    <span *ngIf="minValue > 0 || maxValue < 300"
                      >${{ minValue }} - ${{ maxValue }}/HR</span
                    >
                  </button>
                  <div class="row">
                    <ais-toggle
                      *ngIf="currentUser && currentUser.timezone !== ''"
                      label="Only show providers within my timezone"
                      style="margin-left:30px"
                      attribute="timezone"
                      [values]="{
                        on: currentUser.timezone,
                        off: ''
                      }"
                    >
                    </ais-toggle>
                  </div>
                </div>
                <div class="menu-options hide-menu" id="category-menu">
                  <div class="row text-center">
                    <div class="col-md-6 col-sm-12 col-12">
                      <button
                        id="contentCreator"
                        (click)="onChooseCategory('contentCreator')"
                        [ngClass]="{
                          chosen: isInArray(
                            'contentCreator',
                            this.categoryFilters
                          )
                        }"
                        class="btn btn-primary btn-outline category-btn"
                      >
                        CONTENT CREATORS
                      </button>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                      <button
                        id="designer"
                        (click)="onChooseCategory('designer')"
                        [ngClass]="{
                          chosen: isInArray('designer', this.categoryFilters)
                        }"
                        class="btn btn-primary btn-outline category-btn"
                      >
                        DESIGNERS & CREATIVES
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                      <button
                        id="finance"
                        (click)="onChooseCategory('finance')"
                        [ngClass]="{
                          chosen: isInArray('finance', this.categoryFilters)
                        }"
                        class="btn btn-primary btn-outline category-btn"
                      >
                        FINANCIAL EXPERTS
                      </button>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                      <button
                        id="marketing"
                        (click)="onChooseCategory('marketing')"
                        [ngClass]="{
                          chosen: isInArray('marketing', this.categoryFilters)
                        }"
                        class="btn btn-primary btn-outline category-btn"
                      >
                        MARKETING & SEO
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                      <button
                        id="softwareDev"
                        (click)="onChooseCategory('softwareDev')"
                        [ngClass]="{
                          chosen: isInArray('softwareDev', this.categoryFilters)
                        }"
                        class="btn btn-primary btn-outline category-btn"
                      >
                        SOFTWARE DEVELOPERS
                      </button>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                      <button
                        id="virtualAssistant"
                        (click)="onChooseCategory('virtualAssistant')"
                        [ngClass]="{
                          chosen: isInArray(
                            'virtualAssistant',
                            this.categoryFilters
                          )
                        }"
                        class="btn btn-primary btn-outline category-btn"
                      >
                        VIRTUAL ASSISTANTS
                      </button>
                    </div>
                  </div>
                  <div class="row px-20">
                    <div class="col-6">
                      <span class="set-text" (click)="onResetCategories()"
                        >CLEAR</span
                      >
                    </div>
                    <div class="col-6 text-right">
                      <span class="set-text " (click)="onSetCategories()"
                        >APPLY</span
                      >
                    </div>
                  </div>
                </div>
                <div class="menu-options hide-menu" id="hours-menu">
                  <div class="row p-20">
                    <ng5-slider
                      [(value)]="minValue"
                      [(highValue)]="maxValue"
                      [options]="options"
                      style="width:300px; margin: 0 auto; margin-top: 35px;"
                    ></ng5-slider>
                  </div>
                  <div class="row px-20">
                    <div class="col-6">
                      <span class="set-text" (click)="onResetHourlyRate()"
                        >RESET</span
                      >
                    </div>
                    <div class="col-6 text-right">
                      <span class="set-text" (click)="onSetHourlyRate()"
                        >APPLY</span
                      >
                    </div>
                  </div>
                  <div class="row" hidden>
                    <ais-range-input
                      hidden
                      attribute="hourlyRate"
                      [min]="minValue"
                      [max]="maxValue"
                      [precision]="0"
                      style="margin: 0 auto"
                    >
                    </ais-range-input>
                  </div>
                </div>
              </div>
              <div class="col-3 text-right no-padding">
                <button class="card-size-btn" (click)="setSmallCards(false)">
                  <img *ngIf="!smallCards" src="assets/img/Long-selected.svg" />
                  <img
                    *ngIf="smallCards"
                    src="assets/img/Long-unselected.svg"
                  />
                </button>
                <button class="card-size-btn" (click)="setSmallCards(true)">
                  <img *ngIf="smallCards" src="assets/img/Short-selected.svg" />
                  <img
                    *ngIf="!smallCards"
                    src="assets/img/Short-unselected.svg"
                  />
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 min-70">
                <ais-hits>
                  <ng-template let-hits="hits">
                    <div
                      *ngIf="hits.length <= 0 && !loading"
                      class="row text-center"
                    >
                      <h4 class="center-h center-v">
                        We couldn't find what you were looking for!
                      </h4>
                    </div>
                    <div class="row no-padding" *ngIf="hits">
                      <div
                        *ngFor="let provider of hits"
                        class="col-xl-4 col-lg-4 col-md-6 col-sm-12 no-padding my-5 "
                      >
                        <app-provider-card
                          *ngIf="smallCards"
                          [size]="'sm'"
                          [provider]="provider"
                        ></app-provider-card>
                        <app-provider-card
                          *ngIf="!smallCards"
                          [size]="'lg'"
                          [provider]="provider"
                        ></app-provider-card>
                      </div>
                    </div>
                  </ng-template>
                </ais-hits>
              </div>
              <div class="col-md-12">
                <ais-pagination></ais-pagination>
              </div>
            </div>
          </ais-instantsearch>
          <div
            *ngIf="loading || rendering"
            class="container d-flex h-100 flex-column justify-content-center"
          >
            <img src="assets/img/loader.svg" height="36px" alt="Loader" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-blog-posts></app-blog-posts>
  <app-feedback></app-feedback>
</main>
<app-scroll-top></app-scroll-top>
