<main>
  <section class="section bg-gray">
    <div class="container text-center card px-30 py-15 my-10">
      <h2>Select how you would like to unlock</h2>
      <div class="row">
        <div class="col-12 col-md-4">
          <ul class="tabs">
            <li
              (click)="selected = WalletApp.WalletConnect"
              [class.active]="isActive(WalletApp.WalletConnect)"
            >
              WalletConnect
            </li>
            <li
              (click)="selected = WalletApp.Ledger"
              [class.active]="isActive(WalletApp.Ledger)"
            >
              Ledger Device
            </li>
            <li
              (click)="selected = WalletApp.Keystore"
              [class.active]="isActive(WalletApp.Keystore)"
            >
              Keystore File
            </li>
            <li
              (click)="selected = WalletApp.Mnemonic"
              [class.active]="isActive(WalletApp.Mnemonic)"
            >
              Mnemonic Phrase
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-8 text-left" [ngSwitch]="selected">
          <div *ngSwitchCase="WalletApp.WalletConnect">
            <div *ngIf="!isTestnet(); else testnet">
              Click to scan a QR code and link your mobile wallet using
              WalletConnect.
              <div class="mt-20">
                <button
                  (click)="connect(WalletApp.WalletConnect)"
                  class="btn btn-primary"
                >
                  Wallet Connect
                </button>
              </div>
            </div>
            <ng-template #testnet>
              WalletConnect doesn't support testnet
            </ng-template>
          </div>
          <div *ngSwitchCase="WalletApp.Ledger">
            <div class="row">
              <div class="col-12">
                Connect your Ledger device
              </div>
            </div>
            <div class="row mt-30">
              <div class="col-1">
                <img src="/assets/img/asset-step1.svg" />
              </div>
              <div class="col-7">
                Enter PIN Code
              </div>
              <div class="">
                <img src="/assets/img/asset-ledger-pin.svg" />
              </div>
            </div>
            <div class="row mt-30">
              <div class="col-1">
                <img src="/assets/img/asset-step2.svg" />
              </div>
              <div class="col-7">
                <div>Open Binance Chain</div>
                <div class="ledger-app-notice">
                  “Binance Chain Ready” must be on-screen
                </div>
              </div>
              <div class="">
                <img src="/assets/img/asset-ledger-app.svg" />
              </div>
            </div>
            <div class="row mt-40">
              <div class="col-4 ledger-links ">
                <div>
                  <a
                    href="https://www.binance.org/static/guides/DEX-Ledger-Documentation.html"
                    rel="noopener noreferrer"
                    target="_blank"
                  >
                    App Installation & Usage Instructions
                  </a>
                </div>
                <div>
                  <a
                    href="https://support.ledger.com/hc/en-us/articles/115005165269-Connection-issues-with-Windows-or-Linux"
                    rel="noopener noreferrer"
                    target="_blank"
                  >
                    Having Connection Issues?
                  </a>
                </div>
              </div>
              <div class="col-4">
                <div class="ledger-index">
                  Index Number (default 0)
                </div>
                <div>
                  <input
                    class="ledger-index-input"
                    [(ngModel)]="ledgerIndex"
                    type="number"
                    min="0"
                  />
                </div>
              </div>
              <div class="col-4">
                <button
                  class="btn btn-primary"
                  (click)="connectLedger()"
                  [disabled]="ledgerConnecting"
                >
                  Unlock
                  <i *ngIf="ledgerConnecting" class="fa fa-spinner fa-spin"></i>
                </button>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="WalletApp.Keystore">
            <div class="mb-10">
              Select your keystore file
            </div>
            <div class="mb-30">
              <label for="file-upload" class="btn btn-primary">
                Upload keystore file
              </label>
              <i
                *ngIf="validKeystoreUploaded"
                class="fa fa-check-circle keystore-check"
              ></i>
              <input
                id="file-upload"
                type="file"
                hidden
                (change)="uploadFile($event)"
              />
              <div class="keystore-error">
                {{ keystoreError }}
              </div>
            </div>
            <div class="mb-10">
              <input
                [(ngModel)]="keystorePassword"
                type="password"
                (ngModelChange)="resetUnlocking()"
                placeholder="Enter wallet password"
                class="keystore-password"
              />
            </div>
            <div *ngIf="unlockingFailed" class="keystore-error">
              Incorrect Password
            </div>
            <div>
              <button
                (click)="unlockKeystore()"
                [disabled]="!validKeystoreUploaded || !keystorePassword"
                class="btn btn-primary keystore-unlock"
              >
                Unlock wallet now
              </button>
            </div>
          </div>
          <div *ngSwitchCase="WalletApp.Mnemonic">
            <p class="mnemonic-warning">
              <i
                ><b>Warning!</b> Entering your seed phrase or private key on any
                website is very dangerous. If you have malicious extensions
                installed in your browser or accidentally visit a phishing
                website, your assets can be stolen.</i
              >
            </p>
            <p>
              Recover your Keystore file instead, since it is password
              protected.
            </p>
            <a href="https://www.binance.org/en/recover" target="_blank">
              <button class="btn btn-primary">
                Recover Keystore
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
